
.f1
{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size:40px;
    font-weight: bold;
    color: white;
    
   
}
.bo{
    background-image: url('bodymain.jpeg');
    background-size: cover;
  
}
.my-row
{
    border:1px solid red;
  padding: 20px;
}
.my-col
{
    border:1px solid blue;
    padding: 20px;
}
.zoom {
   
    
    transition: transform .2s; /* Animation */
    width: 130px;
    height: 130px;
    margin: 0 auto;
  }
  
  .zoom:hover {
    transform: scale(1.2); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  }
  .l{
    border: 1px solid orange;
    background-color:orange;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    padding-left: 2px;
    padding-right: 2px;
  }